# Pandas For Beginners
### Pandas is open source, BSD-licensed library providing high-performance, easy to use data structues and data analysis tools for the python programming.
### Must for data exploratory data analysis.

In [1]:
import pandas as pd
import numpy as np

#### DataFrame creation

In [2]:
## creation of DataFrame.
df=pd.DataFrame(np.arange(20).reshape(5, 4),index=['row1', 'row2', 'row3', 'row4', 'row5'],  columns=['column1', 'column2', 'column3', 'column4'])

#### Head()

In [3]:
## prints the 1st (top) 5 values.
df.head()

      column1  column2  column3  column4
row1        0        1        2        3
row2        4        5        6        7
row3        8        9       10       11
row4       12       13       14       15
row5       16       17       18       19

#### DataFrame VS DataDeries

In [4]:
## DataFrame- More than 1 row or 1 col is called DataFrame.
## DataSeries- only 1 row or only 1 col is called DataSeries.

#### Indexing

In [5]:
## Accessing the elements
## 1.loc - if accessing multiple colums use list to access
## loc is basically accessing with names of  row and column
df.loc[['row1','row2']]

      column1  column2  column3  column4
row1        0        1        2        3
row2        4        5        6        7

In [6]:
## Dataseries Example
type(df.loc['row1'])

pandas.core.series.Series

In [7]:
## 2.iloc-location with index
df.iloc[0:2,0:2] ##[row:col] row=start:end, col=start:end

      column1  column2
row1        0        1
row2        4        5

In [8]:
## DataFrame Example
type(df.iloc[0:2,0:2])

pandas.core.frame.DataFrame

#### DataFrame to Array

In [9]:
## convertion of DataFrame to Array
df.iloc[:,:].values

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

#### numpy.ndarray

In [10]:
type(df.iloc[:,:].values)
## ndarray -> N-dimensional array

numpy.ndarray

#### Data Cleaning functions

In [11]:
## Checking for null-values in Dataset
df.isnull().sum()

column1    0
column2    0
column3    0
column4    0
dtype: int64

In [12]:
df

      column1  column2  column3  column4
row1        0        1        2        3
row2        4        5        6        7
row3        8        9       10       11
row4       12       13       14       15
row5       16       17       18       19

In [13]:
## shows Unique values in the column1
df['column1'].unique()

array([ 0,  4,  8, 12, 16])

#### Loading Dataset through file name/location

In [17]:
## loading dataset(csv file = , seperated values also can change the seperator as required)
df = pd.read_csv("C:/Users/rocky/Downloads/archive (2)/apple_products.csv")
## Replace the backslashes with forward slashes, which Python can interpret correctly on Windows.

In [18]:
## prints top 5 records
df.head()

,Product Name,Product URL,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,0,3431,356,MOBEXRGV7EHHTGUH,4.6,NaN
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,0,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,0,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,0,11202,794,MOBEXRGVMZWUHCBA,4.5,2 GB
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,0,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB

In [19]:
## Prints last 5 records
df.tail()

,Product Name,Product URL,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,24,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB
58,"APPLE iPhone 11 (Purple, 64 GB)",https://www.flipkart.com/apple-iphone-11-purpl...,Apple,46999,54900,14,43470,3331,MOBFWQ6BTFFJKGKE,4.6,4 GB
59,"APPLE iPhone 11 (White, 64 GB)",https://www.flipkart.com/apple-iphone-11-white...,Apple,46999,54900,14,43470,3331,MOBFWQ6BVWVEH3XE,4.6,4 GB
60,"APPLE iPhone 11 (Black, 64 GB)",https://www.flipkart.com/apple-iphone-11-black...,Apple,46999,54900,14,43470,3331,MOBFWQ6BXGJCEYNY,4.6,4 GB
61,"APPLE iPhone 11 (Red, 64 GB)",https://www.flipkart.com/apple-iphone-11-red-6...,Apple,46999,54900,14,43470,3331,MOBFWQ6BYYV3FCU7,4.6,4 GB

In [20]:
## check for any null value in dataset
df.isnull().sum()

Product Name           0
Product URL            0
Brand                  0
Sale Price             0
Mrp                    0
Discount Percentage    0
Number Of Ratings      0
Number Of Reviews      0
Upc                    0
Star Rating            0
Ram                    1
dtype: int64

In [21]:
## Filling the missing value
df.fillna('2GB')

,Product Name,Product URL,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,0,3431,356,MOBEXRGV7EHHTGUH,4.6,2GB
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,0,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,0,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,0,11202,794,MOBEXRGVMZWUHCBA,4.5,2 GB
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,0,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB
...,...,...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,24,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB
58,"APPLE iPhone 11 (Purple, 64 GB)",https://www.flipkart.com/apple-iphone-11-purpl...,Apple,46999,54900,14,43470,3331,MOBFWQ6BTFFJKGKE,4.6,4 GB
59,"APPLE iPhone 11 (White, 64 GB)",https://www.flipkart.com/apple-iphone-11-white...,Apple,46999,54900,14,43470,3331,MOBFWQ6BVWVEH3XE,4.6,4 GB
60,"APPLE iPhone 11 (Black, 64 GB)",https://www.flipkart.com/apple-iphone-11-black...,Apple,46999,54900,14,43470,3331,MOBFWQ6BXGJCEYNY,4.6,4 GB
61,"APPLE iPhone 11 (Red, 64 GB)",https://www.flipkart.com/apple-iphone-11-red-6...,Apple,46999,54900,14,43470,3331,MOBFWQ6BYYV3FCU7,4.6,4 GB

In [22]:
## .info() give the overview ainfomation of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Product Name         62 non-null     object
 1   Product URL          62 non-null     object
 2   Brand                62 non-null     object
 3   Sale Price           62 non-null     int64
 4   Mrp                  62 non-null     int64
 5   Discount Percentage  62 non-null     int64
 6   Number Of Ratings    62 non-null     int64
 7   Number Of Reviews    62 non-null     int64
 8   Upc                  62 non-null     object
 9   Star Rating          62 non-null     float64
 10  Ram                  61 non-null     object
dtypes: float64(1), int64(5), object(5)
memory usage: 5.5+ KB

In [29]:
## only numerical data values will be considered
df.describe()

,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Star Rating
count,62.000000,62.000000,62.000000,62.000000,62.000000,62.000000
mean,80073.887097,88058.064516,9.951613,22420.403226,1861.677419,4.575806
std,34310.446132,34728.825597,7.608079,33768.589550,2855.883830,0.059190
min,29999.000000,39900.000000,0.000000,542.000000,42.000000,4.500000
25%,49900.000000,54900.000000,6.000000,740.000000,64.000000,4.500000
50%,75900.000000,79900.000000,10.000000,2101.000000,180.000000,4.600000
75%,117100.000000,120950.000000,14.000000,43470.000000,3331.000000,4.600000
max,140900.000000,149900.000000,29.000000,95909.000000,8161.000000,4.700000

In [24]:
## To pick the unique Products based only on model
df['Product Name'].value_counts()

Product Name
APPLE iPhone 8 Plus (Gold, 64 GB)                 1
APPLE iPhone 12 Pro (Pacific Blue, 128 GB)        1
APPLE iPhone 12 Mini (Black, 128 GB)              1
APPLE iPhone 12 Mini (Blue, 128 GB)               1
APPLE iPhone 12 (Black, 128 GB)                   1
                                                 ..
APPLE iPhone 12 Pro Max (Pacific Blue, 256 GB)    1
APPLE iPhone 12 Mini (White, 128 GB)              1
APPLE iPhone 12 Pro (Graphite, 256 GB)            1
APPLE iPhone 12 Mini (White, 64 GB)               1
APPLE iPhone 11 (Red, 64 GB)                      1
Name: count, Length: 62, dtype: int64

In [25]:
## Returns the number of rows and columns in the dataset
df.shape

(62, 11)

In [26]:
## Returns all the column names
df.columns

Index(['Product Name', 'Product URL', 'Brand', 'Sale Price', 'Mrp',
       'Discount Percentage', 'Number Of Ratings', 'Number Of Reviews', 'Upc',
       'Star Rating', 'Ram'],
      dtype='object')

In [27]:
## Returns the value at the specified location
df.loc[0, 'Product Name']

'APPLE iPhone 8 Plus (Gold, 64 GB)'

In [28]:
## Returning first 2 row and all columns
df.iloc[0:2, 0:11]

,Product Name,Product URL,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,0,3431,356,MOBEXRGV7EHHTGUH,4.6,NaN
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,0,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB

In [ ]:
## Returning the Products who's sale price is greater than 140000rs
df[df['Sale Price']>140000]

In [ ]:
## Groups the DataFrame by a specific column and performs aggregation
df.groupby('Product Name').sum()

In [ ]:
## .drop is used to drop a specific row or column; axis=0 denotes the row , axis=1 denotes the column
updated_df=df.drop('Upc',axis=1)

In [ ]:
updated_df.head()

In [ ]:
## rows and columns of the updated_df
updated_df.shape

In [ ]:
## Exporting the DataFrame to csv file after the Data Process
updated_df.to_csv('Final.csv')

## Thank you for your valuable time to have you here.